{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-3">
  <h1>Привет, я автор</h1>
   <div class="row">
      <aside class="col-12 col-md-4">
        <img src="{% static 'img/cup.jpg' %}" width="320" height="360" class="d-inline-block align-top" alt="">
      </aside>
      <article class="col-12 col-md-8">
      <p>   Привет! Я Аннушка!</p>
      <p>   Сейчас я прохожу курсы на платформе Яндекс.Практикум, учусь на python разработчика.
        И это мой учебный проект - социальная сеть для публикации личных дневников. На этом сайте
        Вы можете создать свою страницу, публиковать записи, подписываться на понравившихся авторов
        и комментировать их записи.
      </p>
      <p>   Несколько слов обо мне.
        С интересом и вдохновением перепробовала много интересных профессий от повара, флориста,
        библиотекаря, агента по недвижимости,... до директора и управляющего. Было нескучно и 
        познавательно, но себя в профессии так и не нашла. Что, каждый раз, сподвигает меня на 
        дальнейшие поиски. Есть шанс, что остановлюсь именно на разработке, и мое развитие
        пойдет уже в глубь данной профессии и смежными с ней. Получаю огромное удовольствие от
        обучения, создания сайта и результата! Приглашаю присоединиться и оценить!<br>
        Связаться со мной можно по email: anna.mihailovma@gmail.com</p>
      <a href="https://github.com/AnnaMihailovna">
          А это ссылка на мой репозиторий на GitHub
      </a>
      <p>P.S. Продуктивно работать мне помогают: кошка Даша и две красноухие черепашки,
              а также спорт: лыжная ходьба. Очень рекомендую!
      </p>
      </article>
  </div>
</div>
{% endblock %}